* {
  font-family: "Source sans Pro", sans-serif;
}

.top-section {
  margin: 2% 4%;
  display: flex;
  justify-content: space-between;
}

.nav-brand {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.nav-logo {
  width: 40px;
  height: 40px;
}

.nav-title {
  padding-left: 3px;
  font-size: 20px;
  font-weight: 600;
}

/* .top-section img {
  width: 180px;
} */

.about-us-link {
  text-decoration: none;
  font-weight: bold;
  align-self: center;
}

.main-section {
  display: grid;
  grid-template-columns: 45% auto 5%;
}

.left-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 auto;
  height: 80vh;
}

.early-access {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 2% 13%;
  /* padding: 5%; */
  border-radius: 20px;
  overflow: hidden;
}

.early-access-header {
  display: flex;
  justify-content: center;
}

.early-access-header img {
  width: 80%;
  margin: 10px 0;
}

.early-access-btn {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  margin-top: 20px;
}

.early-access-btn:focus {
  outline: none;
}

.discord-section {
  display: flex;
  /* justify-content: space-evenly;
    flex-wrap: wrap; */
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* .invitation-btn {
    border-radius: 15px;
    padding: 10px;
    margin: 5%;
    min-width: 200px;
    min-height: 50px;
} */

.discord-btn {
  border-radius: 15px;
  padding: 10px;
  min-width: 200px;
}

.discord-btn:focus {
  outline: none;
}

.discord-btn img {
  width: 70%;
  padding: 0px 10px 0px 0px;
  display: flex;
  align-items: center;
}

.discord-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.join-span {
  font-size: x-small;
}

/* .invitation-btn img {
    width: 5%;
    padding-left: 10px;
} */

.lauch {
  position: relative;
}

h1 {
  word-wrap: break-word;
  margin: 0%;
  padding: 0%;
  font-size: 500%;
  z-index: 15;
  padding-left: 10%;
  background: linear-gradient(
    180deg,
    #d48432 -5.88%,
    rgba(212, 132, 50, 0.35) 170.88%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rocket-img {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 60vh;
  margin-top: 5%;
}

.container {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.follow-us {
  /* padding-top: 200%; */
  writing-mode: vertical-lr;
}

.follow-us-text,
.social-icons {
  display: inline;
}

.follow-us .follow-us-text p {
  display: inline;
  color: #7791a1;
  font-weight: 600;
  /* padding-bottom: 5%; */
}

.follow-line {
  display: inline;
  width: 1px;
  height: 50px;
  background: #808191;
  border-radius: 10px;
  margin: 8px 0;
}

.social-icons img {
  width: auto;
  padding: 8px 5px;
  cursor: pointer;
}

.social-icons img.youtube {
  transform: rotate(90deg);
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  width: 500px;
  height: 320px;
  background-color: rgba(255, 255, 255);
  border-radius: 25px;
  z-index: 20;
}

.popup-content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(500px - 60px);
  height: calc(320px - 60px);
  padding: 30px;
  border-radius: 20px;
  z-index: 20;
}

.popup-form {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.modal-top-row {
  display: flex;
  justify-content: flex-end;
  padding: 0 !important;
}

/* .popup-top {
    display: flex;
    margin-bottom: 12%;
    justify-content: space-around;
}

.popup-top p {
    font-size: max(2.5vw, 25px);
    font-weight: bolder;
    display: flex;
    align-items: center;
    margin: 0%;
    word-wrap: break-word;
}

.popup-top img {
    width: min(55%, 300px);
} */

.inp {
  display: flex;
  width: auto;
  border: none;
  outline: none;
  background-color: rgb(238, 238, 238, 0.8);
  color: rgb(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  margin: 0 10px;
}

::placeholder {
  font-weight: 600;
  color: rgba(59, 59, 59, 0.6);
}

.role {
  display: flex;
  cursor: pointer;
  width: calc(45% + 30px);
  background-color: rgb(238, 238, 238, 0.8);
  border-radius: 10px;
  margin-right: 10px;
}

.select__control {
  width: 100% !important;
  border-radius: 10px !important;
  background-color: #eeeeee !important;
  height: 50px !important;
  border: none !important;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.8);
}

.select__menu {
  background: #eeeeee !important;
}

input.email {
  display: flex;
  width: 100%;
}

.inputs-section {
  display: flex;
  width: 100%;
  padding: 0 !important;
  justify-content: space-between;
  margin: 15px 0;
}

.access-btn {
  display: block;
  width: 70%;
  border-radius: 10px;
  height: 50px;
  margin: 20px 0;
  cursor: pointer;
}

.access-btn:focus {
  outline: none;
}

.btn-disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.load-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.alrt-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.alrt-top-circle {
  display: flex;
  margin-top: -60px;
  justify-content: center;
}

.alrt-top-icon {
  display: flex;
  width: 100px;
}

.alrt-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  width: 220px;
  height: 220px;
  background: #f1f1f1;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.alrt-back {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  border: none;
  outline: none;
  transform: rotate(159.57deg);
}

.alrt-details-box {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 11;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.alrt-details-head {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #2cda94;
}

.alrt-details-subhead1,
.alrt-details-subhead2 {
  text-transform: capitalize;
  margin: 1px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(32, 43, 71, 1);
}

.alrt-details-btn {
  text-transform: capitalize;
  display: flex;
  width: 140px;
  height: 35px;
  border: none;
  color: #ffffff;
  margin: 20px 0;
  cursor: pointer;
  font-weight: 600;
  background: #d48432;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.alrt-details-btn:hover {
  opacity: 0.9;
}

.alrt-details-btn:focus {
  outline: none;
}

@media (max-width: 720px) {
  .top-section {
    margin: 0%;
    background: #eeeeee;
    padding: 2% 4%;
    z-index: 15;
    width: 93%;
    position: fixed;
  }

  .nav-brand {
    margin-left: 10px;
  }

  .nav-logo {
    width: 35px;
    height: 35px;
  }

  .nav-title {
    font-size: 18px;
  }

  .main-section {
    grid-template-columns: 100%;
  }

  .left-main {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    padding-left: 0%;
  }

  .early-access {
    margin: 2% 7%;
  }

  .right-main {
    grid-row: 1;
    margin-top: 50px;
  }

  h1 {
    margin-top: 20px;
    font-size: 400%;
  }

  .rocket-img {
    display: none;
  }

  .follow-us {
    padding-top: 0%;
    writing-mode: horizontal-tb;
    text-align: center;
    margin: 5% auto 3%;
  }

  .container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .follow-line {
    display: inline;
    width: 40px;
    height: 1px;
    background: #808191;
    border-radius: 10px;
    margin: 0 8px;
  }

  .social-icons img {
    width: 25px;
    padding: 5px 3px;
    cursor: pointer;
  }

  .social-icons img.youtube {
    transform: rotate(0deg);
  }

  .discord-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* .discord-btn, .invitation-btn {
        margin: 5% auto 2%;
        width: 50%;
    } */

  .discord-btn {
    width: 100%;
  }

  .follow-us {
    margin-top: 25px;
  }

  .social-icons img {
    transform: rotate(-90deg);
  }

  .inputs-section {
    flex-direction: column;
  }

  /* input.email {
    width: 100%-20px;
  } */

  .popup-content {
    width: 340px;
    height: 350px;
    background-color: rgba(255, 255, 255);
    border-radius: 25px;
    z-index: 20;
  }

  .popup-content-2 {
    width: calc(340px - 60px);
    height: calc(350px - 60px);
  }

  .modal-top-row {
    margin: 15px 0;
  }

  /* .popup-top {
      display: flex;
      margin-bottom: 12%;
      justify-content: space-around;
  }
  
  .popup-top p {
      font-size: max(2.5vw, 25px);
      font-weight: bolder;
      display: flex;
      align-items: center;
      margin: 0%;
      word-wrap: break-word;
  }
  
  .popup-top img {
      width: min(55%, 300px);
  } */

  .inp {
    margin: 10px;
  }

  .role {
    width: auto;
    margin: 0 10px;
  }

  .inputs-section {
    margin: 5px 0;
  }

  input.email {
    width: auto;
  }

  .access-btn {
    display: block;
    width: 90%;
    border-radius: 10px;
    height: 50px;
    margin: 10px 0;
  }
}
